
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class=" btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="genre-table-body">
        <partial name="_GenreIndexTableBody" />
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Genres/GenreIndexTableBody",
                success: function (data) {
                    $("#genre-table-body").html(data);
                },
                error: function (data) {
                    console.error("Ajax GET error", data);
                }
            });
        });
    </script>
    }